/*
@tailwind base; adds base styles to all elements:
https://tailwindcss.com/docs/preflight
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base: #000000;
  --color-text: #00ff00;
  --color-highlight: #00ff00;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Courier New", "Consolas", monospace;
  font-size: 0.9rem;
  background-color: var(--color-base);
  color: var(--color-text);
}
